{{#unless login}}
<div class="flash notification is-info has-text-centered">
    <p>We use cookies in order for the application to work properly, we do not store any personal information.</p>
</div>
{{/unless}}