<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/pulse/bulmaswatch.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/html">
    <link rel="icon" type="image/png" href="assets/images/16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/images/32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/96.png" sizes="96x96">
    <title>PeerChat</title>
</head>

<body>
    <nav class="navbar static-nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="title is-4 has-text-white">PeerChat</h1>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                {{#if login}}
                <a class="navbar-item" href="/chat">Enter chat</a>
                <a class="navbar-item" href="/signout">Sign out</a>
                {{else}}
                <a class="navbar-item" href="/login">Login</a>
                <a class="navbar-item" href="/register">Register</a>
                {{/if}}
            </div>
        </div>
    </nav>

    {{{body}}}
</body>

</html>