<img class="image" src="/assets/images/start.jpg">

<section class="hero is-primary has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome to PeerChat!
            </h1>
            <h2 class="subtitle">
                A simple chat applicaion built with Angular 4. Create a new account or sign in with Facebook/Google and start chatting!
            </h2>
        </div>
    </div>
</section>