{{>cookie}} {{>flash}}

<div class="card" id="login">
  <div class="card-content">
    <p class="title">Welcome to PeerChat</p>
    <p class="subtitle">Login to continue</p>

    <form action="/login" method="post">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="Enter email" name="email" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="Enter password" name="password" required>
        </div>
      </div>

      <div class="field">
        <div class="control has-text-centered">
          <button type="submit" class="button is-primary" id="loginBtn">Login</button>
        </div>
      </div>

      <div class="field google">
        <div class="control has-text-centered">
          <a class="button is-warning oauthBtn" href="/auth/google">Google</a>
        </div>

        <div class="field facebook">
          <div class="control has-text-centered">
            <a class="button is-info oauthBtn" href="/auth/facebook">Facebook</a>
          </div>

          <div class="field">
            <div class="control has-text-centered">
              <p>Don't have an account?
                <a class="is-link" href="/register" id="registerBtn">Register here</a>
              </p>
            </div>
          </div>
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    </div>