{{>flash}}

<div class="card" id="register">
  <div class="card-content">
    <p class="title">Register</p>

    <form action="/register" method="post">
      <div class="field">
        <label class="label">Full name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Enter full name" name="fullName" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="Enter email" name="email" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="Enter password" name="password" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Repeat password</label>
        <div class="control">
          <input class="input" type="password" placeholder="Repeat password" name="passwordRepeat" required>
        </div>
      </div>

      <div class="field">
        <div class="control has-text-centered">
          <button type="submit" class="button is-primary" id="registerBtn">Register</button>
        </div>
      </div>

      <div class="field">
        <div class="control has-text-centered">
          <a class="button" href="/login" id="cancel">Cancel</a>
        </div>
      </div>

      <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
  </div>
</div>