#login, #register {
    width: 40%;
    margin: 0 auto;
}

#loginBtn, #registerBtn, #cancel {
    width: 100%;
}

.oauthBtn {
    width: 100%;
}

.facebook {
    margin-top: 11px
}

.field p {
    margin-top: 15px;
    font-size: 16px;
}

img {
    height: calc(100vh - 45.5px) !important;
    width: 100% !important;
}

.hero {
    position: absolute !important;
    top: 200px !important;
    width: 100% !important;
    opacity: 0.9 !important;
}

.hero h1 {
    margin-bottom: 30px !important;
}

#login, #register {
    margin-top: 20px;
}