#login, #register {
    width: 40%;
    margin: 0 auto;
}

#loginBtn, #registerBtn, #cancel {
    width: 100%;
}

.oauthBtn {
    width: 100%;
}

.facebook {
    margin-top: 11px
}

.field p {
    margin-top: 15px;
    font-size: 16px;
}

img {
    height: calc(100vh - 45.5px);
    width: 100%;
}

.hero {
    position: absolute;
    top: 200px;
    width: 100%;
    opacity: 0.9;
}

.hero h1 {
    margin-bottom: 30px !important;
}