<div class="columns is-gapless">
  <div class="column is-one-fifth">
    <div class="user-list">
      <app-user-list></app-user-list>
    </div>
  </div>

  <div class="column">
    <div [style.display]="displayWelcome">
      <div class="welcome">
        <app-welcome></app-welcome>
      </div>

    </div>

    <div [style.display]="displayChatComponents">
      <div class="feed-header">
        <app-feed-header></app-feed-header>
      </div>

      <div class="feed">
        <app-feed></app-feed>
      </div>

      <div class="send">
        <app-send></app-send>
      </div>
    </div>

  </div>
</div>
