.show {
    display: block;
}

.hide {
    display: none;
}

.search {
    background-color: rgb(72, 21, 78);
    height: 8vh;
}

.friend-requests {
    background-color: rgb(72, 21, 78);
    height: 8vh;
}

.user-list {
    background-color: rgb(72, 21, 78);
    height: 84vh;
}

.welcome {
    background-color: rgb(248, 246, 248);
    height: 100vh;
    padding: 20px;
}

.feed-header {
    background-color: white;
    height:8vh;
}

.feed {
    background-color: rgb(248, 246, 248);
    height: 87vh;
}

.send {
    background-color: white;
    height: 5vh;
}