:host button {
    height: 40px;
    width: 31vw;
    margin-left: 1vw;
}

:host .notificationDot {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -40px;
    background-color: rgb(205, 17, 226);
}