<ul>
  <li *ngFor="let message of activeConversation">
    <div *ngIf="message.sender === 'you'">
      <div class="card message you">
        <div class="card-content">
          <p>{{message.message}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="message.sender !== 'you'">
        <div class="card message peer">
          <div class="card-content">
            <p class="has-text-white">{{message.message}}</p>
          </div>
        </div>
      </div>
  </li>
</ul>

<! -- MOCK -- >

<div class="message peer">
    <p class="has-text-white">Tjena!</p>
</div>

<div class="message you">
    <p>Hejsan Kalle!</p>
</div>

<div class="message you">
    <p>LOREM IPSUM asdasdasdjdkglhksoalasdk</p>
</div>

<div class="message peer">
    <p class="has-text-white">asdasdasdasd!</p>
</div>

<div class="message peer">
    <p class="has-text-white">asdasdasdasd!</p>
</div>