:host {
    margin: 0px;
    padding: 0px;
}

:host .message {
    width: 30%;
    word-wrap: break-word;
    clear: both;
}

:host .peer {
    background-color: rgb(106, 105, 194);
    float: right;
}

:host .you {
    background-color: rgb(255, 255, 255);
    float: left;
}

:host .message .card-content {
    font-size: 16px;
}