<div *ngIf="state === 'friendList'">
  <h1 class="title has-text-white friendTitle">Friend list</h1>
  <ul>
    <li *ngFor="let friend of friends">
      <a (click)="changeItem(friend)" class="has-text-link user-item">{{friend.fullName}}</a>
      <p class="status has-text-white">{{friend.status}}</p>
    </li>
  </ul>
</div>

<div *ngIf="state === 'search'">
  <button class="button back" (click)="state = 'friendList'">Go back</button>

  <div *ngIf="!searchUsers.length > 0">
    <p class="infoMessage">No matching users...</p>
  </div>

  <div *ngIf="searchUsers.length > 0">
    <ul>
      <li *ngFor="let user of searchUsers">
        <span class="has-text-white user-item">{{user.fullName}}</span>
        <button class="button is-link" (click)="addUser(user.id)">Add</button>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="state === 'friendRequest'">
  <button class="button back" (click)="state = 'friendList'">Go back</button>
  <div *ngIf="!friendRequestUsers.length > 0">
    <p class="infoMessage">You don't have any friend requests...</p>
  </div>

  <div *ngIf="friendRequestUsers.length > 0">
    <ul>
      <li *ngFor="let request of friendRequestUsers">
        <span class="has-text-white user-item">{{request.fullName}}</span>
        <button class="button is-success" (click)="acceptUser(request.email)">Accept</button>
        <button class="button is-danger" (click)="declineRequest(request.email)">Decline</button>
      </li>
    </ul>
  </div>
</div>
