:host {
  margin: 0px;
  padding: 0px;
}

.user-item {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.listTitle {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
}

.friends {
  margin-top: 0px;
}

:host .back {
  margin-top: 0vh;
  margin-bottom: 10px;
  height: 40px;
  width: 31vw;
  margin-left: 1vw;
}

:host .status {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
}

:host .menu {
  background-color: rgb(72, 21, 78);
  padding: 0px;
}

:host .menu li {
  margin-bottom: 20px;
}

:host .menu a {
  height: 84px;
  ;
}

:host .menu .name {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  display: block;
}

:host .menu .email {
  color: white;
  font-size: 16px;
  margin-top: -15px;
  display: block;
}

:host .menu .status {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  margin-top: 45px;
  margin-left: -40px;
}

.online {
  background-color: rgb(4, 214, 134);
}

.offline {
  background-color: rgb(255, 255, 255);
}

.away {
  background-color: rgb(243, 247, 3);
}

.busy {
  background-color: rgb(247, 6, 6);
}

:host .menu img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 100%;
  float: left;
  clear: both;
}

:host .add {
  background-color: transparent;
  height: 84px;
  margin-top: -77px;
  width: 58px;
  margin-right: 67vw;
  padding: 0px;
  float: right;
  font-size: 50px;
  clear: both;
}

:host .add:active,
:host .add:focus {
  box-shadow: none;
}

:host .add:hover {
  color: rgb(205, 17, 226);
}

:host .notificationDot {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
  margin-top: -30px;
  margin-left: 20%;
  background-color: rgb(205, 17, 226);
}

:host .accept {
  background-color: transparent;
  height: 74px;
  margin-top: -72px;
  width: 40px;
  margin-right: 67vw;
  padding: 0px;
  float: right;
  font-size: 45px;
  clear: both;
}

:host .accept:hover {
  color: rgb(17, 226, 128);
}

:host .decline {
  background-color: transparent;
  height: 74px;
  margin-top: -72px;
  width: 40px;
  margin-right: 70.5vw;
  padding: 0px;
  float: right;
  font-size: 45px;
}

:host .decline:hover {
  color: rgb(205, 17, 226);
}

:Host .decline span,
:host .accept span {
  width: 10px;
}

:host .select {
  right: -18vw;
  font-size: 18px;
  margin-top: -40px;
}

:host .select select {
  background-color: transparent;
  border: none;
  color: transparent;
  height: 30px;
}

:host .select:after {
  margin-right: 20px;
  margin-top: -15px;
  font-size: 35px;
}

select option {
  background-color: #8e44ad;
  color: white;
}

select:active,
select:focus {
  box-shadow: none;
}
