<div *ngIf="state === 'friendList'">
  <h1 class="subtitle has-text-white listTitle">Friend list</h1>

  <div class="menu">
    <ul class="menu-list">
      <li *ngFor="let friend of friends">
        <a (click)="changeItem(friend)">
          <img src="{{friend.avatar}}">
          <span class="status" [ngClass]="{'online' : friend.status === 'online', 'offline' : friend.status === 'offline'}"></span>
          <span class="name">{{friend.fullName}}</span>
          <br>
          <span class="email">{{friend.email}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="state === 'search'">
  <button class="button back" (click)="state = 'friendList'">Go back</button>

  <div *ngIf="!searchUsers.length > 0">
    <h1 class="subtitle has-text-white listTitle">No matching users...</h1>
  </div>

  <div *ngIf="searchUsers.length > 0">
    <h1 class="subtitle has-text-white listTitle">Matching users</h1>
    <div class="menu">
      <ul class="menu-list">
        <li *ngFor="let user of searchUsers">
          <a>
            <img src="{{user.avatar}}">
            <span class="status" [ngClass]="{'online' : user.status === 'online', 'offline' : user.status === 'offline'}"></span>
            <span class="name">{{user.fullName}}</span>
            <br>
            <span class="email">{{user.email}}</span>
            <button (click)="addUser(user.id)">Add</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="state === 'friendRequest'">
  <button class="button back" (click)="state = 'friendList'">Go back</button>
  <div *ngIf="!friendRequestUsers.length > 0">
    <h1 class="subtitle has-text-white listTitle">You don't have any friend requests...</h1>
  </div>

  <div *ngIf="friendRequestUsers.length > 0">
      <h1 class="subtitle has-text-white listTitle">Friend requests</h1>
      <div class="menu">
          <ul class="menu-list">
            <li *ngFor="let request of friendRequestUsers">
              <a>
                <img src="{{request.avatar}}">
                <span class="name">{{request.fullName}}</span>
                <br>
                <span class="email">{{request.email}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    <!-- <ul>
      <li *ngFor="let request of friendRequestUsers">
        <span class="has-text-white user-item">{{request.fullName}}</span>
        <button class="button is-success" (click)="acceptRequest(request.id)">Accept</button>
        <button class="button is-danger" (click)="declineRequest(request.id)">Decline</button>
      </li>
    </ul> -->
  <!-- </div> -->
</div>
