:host {
    margin: 0px;
    padding: 0px;
}

.user-item {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.friendTitle {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
}

:host .back {
    margin-top: 0vh;
    height: 4vh;
    width: 18vw;
    margin-left: 1vw;
    margin-bottom: 2vh;
}

:host .infoMessage {
    color: white;
    margin-left: 20px;
    font-size: 16px;
}

:host .status {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
}

:host .menu {
    background-color: rgb(72, 21, 78);
    padding: 0px;
}

:host .menu li {
    margin-bottom: 20px;
}

:host .menu a {
    height: 84px;;
}

:host .menu .name {
    margin-top: 8px;
    color: white;
    font-size: 20px;
    font-weight: 900;
    display: block;
}

:host .menu .email {
    color: white;
    font-size: 16px;
    margin-top: -15px;
    display: block;
}

:host .menu .status {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    margin-top: 45px;
    margin-left: -40px;
}

.online {
    background-color: rgb(4, 214, 134);
}

.offline {
    background-color: rgb(255, 255, 255);
}

:host .menu img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 100%;
    float: left;
    clear: both;
}