:host {
    margin: 0px;
    padding: 0px;
}

:host input {
    height: 5vh;
    width: 52vw;
}

:host .emojis {
    height: 5vh;
    width: 5vw;
}

:host .send {
    height: 5vh;
    width: 10vw;
}

:host button i {
    font-size: 25px;
}

:host .emojiPopup {
    position: absolute;
    z-index: 90;
    display: block;
    width: 100%;
    margin-top: -40px;
    background-color: red;
}