:host {
  margin: 0px;
  padding: 0px;
}

:host input {
  height: 40px;
  width: 52vw;
}

:host .emojis {
  height: 40px;
  width: 5vw;
}

:host .send {
  height: 40px;
  width: 10vw;
}

:host button i {
  font-size: 25px;
}

:host .emojiPopup {
  position: absolute;
  text-align: center;
  display: block;
  width: 60%;
  bottom: 75px;
  margin-left: 10px;
  border-radius: 7px;
  background-color: #8e44ad;
}

:host .emojiPopup:focus {
  outline: none;
}

:host .emojiPopup:before {
  background-color: #8e44ad;
  position: absolute;
  display: block;
  margin-left: 10px;
  width: 30px;
  height: 26px;
  bottom: -9px;
  content: "";
  transform: rotate(29deg) skew(-25deg);
  z-index: -100;
}

:host ul li {
  display: inline;
  font-size: 30px;
  padding: 7px;
}

:host ul li:hover {
  opacity: 0.7;
}
