<div [hidden]="!showEmojis">
  <div class="emojiPopup" (focusout)="removeFocus()" #popup tabindex="20">
    <ul>
      <li *ngFor="let emoji of emojis; let x = index">
        <a [innerHtml]="emoji.code" (click)="addEmoji(x)"></a>
      </li>
    </ul>
  </div>
</div>

<div class="field has-addons">
  <div class="control">
    <button type="btn" class="button is-primary emojis" (click)="viewEmojis()">
      <span class="icon is-small">
        <i class="ion-md-happy"></i>
      </span>
    </button>
  </div>
  <div class="control">
    <input type="text" placeholder="Enter message..." class="input" #message (input)="toggleSendBtn()">
  </div>
  <div class="control">
    <button #sendBtn disabled type="btn" class="button is-primary send" (click)="sendMessage(message.value, activeUserItem.id)">
      <span class="icon is-small">
        <i class="ion-md-send"></i>
      </span>
    </button>
  </div>
</div>
