<div *ngIf="showEmojis">
  <div class="emojiPopup">
    <ul>
      <li *ngFor="let emoji of emojis; let x = index">
        <a [innerHtml]="emoji.code" (click)="addEmoji(x)"></a>
      </li>
    </ul>
  </div>
</div>

<div class="field has-addons">
  <div class="control">
    <button type="btn" class="button is-primary emojis" (click)="getEmojis()">
      <span class="icon is-small">
        <i class="ion-happy-outline"></i>
      </span>
    </button>
  </div>
  <div class="control">
    <input type="text" placeholder="Enter message..." class="input" #message>
  </div>
  <div class="control">
    <button type="btn" class="button is-primary send" (click)="sendMessage(message.value, activeUserItem.id)">
      <span class="icon is-small">
        <i class="ion-android-send"></i>
      </span>
    </button>
  </div>
</div>
