:host {
    margin: 0px;
    padding: 0px;
}

:host input {
    height: 5vh;
    width: 52vw;
}

:host .emojis {
    height: 5vh;
    width: 5vw;
}

:host .send {
    height: 5vh;
    width: 10vw;
}

:host button i {
    font-size: 25px;
}

:host .emojiPopup {
    position: absolute;
    z-index: 90;
    display: block;
    width: 40%;
    height: 150px;
    margin-top: -170px;
    margin-left: 10px;
    border-radius: 7px;
    background-color: #8e44ad;
}

:host .emojiPopup:before {
    background-color: #8e44ad;
    position: absolute;
    display: block;
    margin-left: 10px;
    width: 30px;
    height: 26px;
    top: 133px;
    content: "";
    transform: rotate(29deg) skew(-25deg);
    z-index: -100;
}

:host ul li {
    display: inline;
    font-size: 30px;
    padding: 7px;
}