:host {
    margin: 0px;
    padding: 0px;
}

:host h1 {
    font-size: 30px;
    margin: 10px;
}

:host button {
    margin: 10px;
}

:host .navbar {
    background-color: white;
}

:host .close {
    background-color: transparent;
    margin-right: 10px;
    padding: 0px;
    float: right;
    font-size: 30px;
    clear: both;
    border: none;
    color: white;
    margin-top: -9px;
}

:host .close:hover {
    color: rgb(211, 211, 211);
}

:host .title {
    margin-top: 20px;
}