:host video {
    width: 100vw;
    height: 95vh;
}

:host .background {
    background-color: rgb(248, 246, 248);
}

:host button {
    font-size: 20px;
    width: 15vw;
    height: 5vh;
    margin-top: -6px;
}
