<div [style.display]="displayVideo">
  <div class="has-text-centered background">
    <div>
      <video class="peer" #videoChat poster="../../../assets/poster.png"></video>
      <video class="you" #localVideo poster="../../../assets/poster.png"></video>
    </div>

    <button class="button is-primary" (click)="toggleMicrophone()" #mic>Toggle microphone</button>
    <button class="button is-primary" (click)="toggleCamera()" #video>Toggle camera</button>
    <button class="button is-danger" (click)="endCall()" disabled #end>End call</button>
  </div>
</div>