<div [hidden]="!loading">
  <div class="loading">
    <app-loading></app-loading>
  </div>
</div>

<div class="has-text-centered background" #chat hidden>
  <video class="peer" #videoChat poster="../../../assets/poster.png"></video>
  <video class="you" #localVideo poster="../../../assets/poster.png"></video>

  <div class="buttons">
    <div *ngIf="clickMic">
      <button class="button is-primary" (click)="toggleMicrophone()" #mic>
        <span class="icon is-small">
          <i class="ion-android-microphone"></i>
        </span>
      </button>
    </div>

    <div *ngIf="!clickMic">
      <button class="button is-default" (click)="toggleMicrophone()" #mic>
        <span class="icon is-small">
          <i class="ion-android-microphone"></i>
        </span>
      </button>
    </div>

    <div *ngIf="clickVid">
      <button class="button is-primary" (click)="toggleCamera()" #video>
        <span class="icon is-small">
          <i class="ion-android-camera"></i>
        </span>
      </button>
    </div>

    <div *ngIf="!clickVid">
      <button class="button is-default" (click)="toggleCamera()" #video>
        <span class="icon is-small">
          <i class="ion-android-camera"></i>
        </span>
      </button>
    </div>

    <button class="button is-danger" (click)="endCall()" #end>
      <span class="icon is-small">
        <i class="ion-android-call"></i>
      </span>
    </button>
  </div>
</div>
