:host .peer {
    width: 100vw;
    height: 95vh;
}

:host .you {
    position: absolute;
    height: 40vh;
    top: 0;
    margin-left: 9.9vh;
}

:host .background {
    background-color: rgb(248, 246, 248);
}

:host button {
    font-size: 20px;
    width: 15vw;
    height: 5vh;
    margin-top: -6px;
}
