:host .background {
  height: 100vh;
  overflow-y: hidden;
}

:host .peer {
  height: 100%;
}

:host .you {
  position: absolute;
  height: 40vh;
  top: 0;
  right: 0;
}

:host .background {
  background-color: rgb(248, 246, 248);
}

:host .buttons {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  width: 100%;
  display: block
}

:host button {
  height: 70px;
  width: 70px;
  margin: 15px;
  font-size: 30px;
  border-radius: 100%;
}
