:host div {
    margin-left: 1vw;
    padding-top: 15px;
}

:host img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 100%;
    float: left;
    clear: both;
}

:host .name {
    padding-top: 5px;
    color: white;
    font-size: 25px;
    font-weight: 900;
    display: block;
}

:host .select {
    margin-top: -30px;
    margin-left: -7px;
    font-size: 16px;
}

:host .select select {
    background-color: transparent;
    border: none;
    color: white;
    margin-top: -15px;
}

:host .select:after {
    margin-top: -1px;
    margin-right: 5px;
}

:host .status {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    margin-top: 45px;
    margin-left: -40px;
}

.online {
    background-color: rgb(4, 214, 134);
}

.offline {
    background-color: rgb(255, 255, 255);
}

.away {
    background-color: rgb(243, 247, 3);
}

.busy {
    background-color: rgb(247, 6, 6);
}