<div>
  <img src="{{currentUser.avatar}}">
  <span class="status" [ngClass]="{'online' : currentUser.status === 'online', 'offline' : currentUser.status === 'offline', 'away' : currentUser.status === 'away', 'busy' : currentUser.status === 'busy'}"></span>
  <span class="name">{{currentUser.fullName}}</span>
  <br>
</div>

<div class="select">
    <select #status (input)="changeStatus(status.value)">
      <option value="online" selected>online</option>
      <option value="away">away</option>
      <option value="busy">busy</option>
      <option value="offline">offline</option>
    </select>
  </div>

  <a href="/signout" class="button signout is-primary"><span class="icon is-small"><i class="ion-android-exit"></i></span></a>
